*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Custom ML Models & Exports
*.pte
*.pt
*.onnx
*.safetensors
*.bin

# Custom Python Scripts
*.py
__pycache__/
*.pyc
*.sh

# Keystores
*.keystore
